:root {
  --light-mode-bg-color: #e5e5e5;
  --light-mode-bg-color-2: #fff;
  --light-mode-font-color: #232323;
  --dark-mode-bg-color: #545d68;
  --dark-mode-bg-color-2: #858f9e;
  --dark-mode-font-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Righteous", cursive;
}

p,
span,
button,
a,
li {
  font-family: "Lato", sans-serif;
}

@keyframes hueRotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
