.favorite-button {
  border: none;
  background: none;
  &:hover {
    animation: shake 0.3s normal;
  }

  svg {
    font-size: 1.4rem;
  }
  .favorite-button__svg {
    svg {
      fill: #666;
    }
  }
  .favorite-button__svg--active {
    svg {
      fill: red;
    }
  }
}
