.album-card {
  width: 290px;
  height: 150px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 25%);
  background-color: var(--light-mode-bg-color-2);
  transition: all 0.3s ease;

  &:hover,
  &:active {
    transform: scale(1.04);
  }

  .album-card__image {
    width: 45%;
    height: 100%;
    .lazy-load-image-background {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .album-card__info {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    .info__favorite {
      display: flex;
      justify-content: flex-end;
      padding: 0.5rem 0.5rem 0;
    }
    .info__name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      p {
        font-size: 0.8rem;
      }
      span {
        font-size: 0.7rem;
      }
    }

    .info__price {
      display: flex;
      justify-content: flex-end;
      padding: 0 0.5rem 0.5rem;
      span {
        font-size: 0.7rem;
        font-weight: 300;
      }
    }
  }
}
